.header {
    background: $color-secondary-bg;
    position: fixed;
    height: 120px;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    @include navTransition;
    @include navDropShadow;

    @include respond-to(small) {
        padding: 1rem;
        height: 100px;
        align-items: center;
        justify-content: flex-start;
    }

    &.hide {
        transform: translateY(-110%);
    }

    &.noHide {
        transform: none;
    }

    .innerHeader {
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        .logoContainer {
            width: calc(100% - 50px);
            @include respond-to(mediumlarge) {
                width: 600px;
            }
        }

        * {
            max-width: 100%;
        }
    }

    .menuButton {
        width: 25px;
        height: 25px;
        z-index: 12;
        div { height: 100%; width: 100%;}
        svg { height: 100%; width: 100%;}
        @include respond-to(mediumlarge) {
            display: none;
        }
    }
}