.header {
    background: $color-secondary-bg;
    position: fixed;
    height: 150px;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    @include navTransition;
    @include navDropShadow;

    @include respond-to(small) {
        padding: 1rem;
        height: 100px;
        align-items: center;
        justify-content: flex-start;
        h1 {
            flex-grow: 2;
        }
    }

    &.hide {
        transform: translateY(-110%);
    }

    .innerHeader {
        h2 {
            margin: 0;
            @include respond-to(small) {
                font-size: 22px;
            }
        }
    }

    .headerButton {
        position: absolute;
        right: 50px;
    }
}