.header {
    background: $color-primary-bg;
    position: fixed;
    height: 150px;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    @include navTransition;

    &.hide {
        transform: translateY(-100%);
    }


    .innerHeader {
        h2 {
            margin: 0;
        }
    }
}