.NewsItem {
    img {
        max-height: 610px; 
    }
    .post {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: baseline;

        .date {
            flex-shrink: 0;
            width: 375px;
        }
        .text {
            
        }
    }
    
}