.HomeMissionSection {
    width: 100%;
    padding: 150px 50px;
    text-align: center;
    background: $color-maroon;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    * {
        color: $color-primary-bg;
    }
    &> * {
        margin: 25px 0;
        max-width: 1200px;
    }

    @include respond-to(mediumsmall) {
        padding: 150px 20px;
    }

    .verticalLogo {
        width: 230px;
    }
}