.HomeMissionSection {
    width: 100%;
    padding: 150px 50px;
    text-align: center;
    background: $color-maroon;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    * {
        color: $color-primary-bg;
    }
    &> * {
        max-width: 1200px;
    }
    &> *:not(:last-child) {
        margin-bottom: 50px;
    }

    @include respond-to(mediumsmall) {
        padding: 75px 20px;
    }

    .verticalLogo {
        width: 230px;
        @include respond-to(small) {
            width: 190px;
        }
    }
}