.HomePubsSection {
    .FirstPub {
        margin-bottom: 50px;
        @include respond-to(small) {
            margin-bottom: 20px;
        }
    }
    .featPubs {
        margin-bottom: 50px;

        .featPub {
            margin: 20px 0;
            @include respond-to(small) {
                padding-left: 2rem;
            }
        }
    }

    .sideImage {
        position: absolute;
        left: 0;
        transform: translate(-50%);
        @include respond-to(mediumsmall) {
            display: none;
        }
    }
}