.HomePubsSection {
    .title {
        margin-bottom: 1rem;
        @include linkNoUnderline;
    }
    .featPubs {
        position: relative;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        @include respond-to(small) {
            grid-template-columns: 1fr;
        }

        .featPub {
            margin: 20px 0;
            @include respond-to(small) {
                padding-left: 2rem;
            }
        }
    }

    .sideImage {
        position: absolute;
        left: 0;
        transform: translate(-50%);
        @include respond-to(mediumsmall) {
            display: none;
        }
    }
}