.Publication {
    margin: 0 0 60px;
    @include top-line-shadow;
    &> * {
        display: block;
        margin: 0 0 20px 0;
    }

    .title {
        @include linkNoUnderline;
    }

    @include respond-to(small) {
        margin: 0 0 25px;
        padding-bottom: 40px;
    }
}

.featWithImage {
    @include respond-to(mediumlarge) {
        &> * { 
            width: calc(50% - 25px);
            float: left;
        }
        &> *:first-child {
            margin-right: 50px;
        }
    }
    &> *:first-child {
        margin-bottom: 20px;
    }
}