.Publication {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: calc(33% - 40px);
    margin: 0 20px 75px;

    &.featured {
        width: calc(66% - 40px);
    }

    h1, h2, h3, h4, h5, p {
        margin: 0;
    }

    @include top-line-shadow;

    .title {
        &:hover {
            color: $color-highlight;
        }
    }

    .authors {
        
    }

    @include respond-to(medium) {
        width: calc(50% - 40px);

        &.featured {
            width: calc(100% - 40px);
        }
    }

    @include respond-to(small) {
        width: 100%;
        margin: 0 0 50px;
        &.featured {
            width: 100%;
        }
    }
}