.Publication {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
    padding: 0 20px 60px;

    &.featured {
        width: 66%;
    }

    h1, h2, h3, h4, h5, p {
        margin: 0;
    }

    @include top-line-shadow;

    .title {
        
    }

    .authors {
        
    }
}