.PublicationList {

}

.filterMeta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
        text-align: center;
    }
    .clearFilter {
        &:hover {
            cursor: pointer;
        }
    }
    .searchedTerm {
        color: $color-highlight;
    }
}