.Lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    background: $color-primary-bg-trans;
    backdrop-filter: blur(4px);

    .imageContainer {
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        * {
            height: 100% !important;
            width: 100% !important;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .meta {
        position: fixed;
        bottom: 50px;
        left: 0px;
        padding: 20px;
        width: 275px;
        display: flex;
        flex-direction: column;
        margin: -8px;
        &> * {margin: 8px;}
        background: $color-primary-bg-trans;
        backdrop-filter: blur(4px);
        @include navDropShadow;
        .close {
            margin-top: 15px;
            height: 25px;
            width: 25px;
            position: relative;
            div { height: 100%; width: 100%;}
            svg { height: 100%; width: 100%;}
        }
    }
}