.Lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    background: $color-primary-bg-trans;
    backdrop-filter: blur(4px);
    overscroll-behavior: contain;
    overflow: auto;

    .imageContainer {
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        * {
            height: 100% !important;
            width: 100% !important;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .meta {
        position: fixed;
        bottom: 0px;
        left: 20px;
        padding: 20px;
        display: grid;
        row-gap: 8px;
        background: $color-primary-bg-trans;
        backdrop-filter: blur(4px);
        border-radius: 5px 5px 0 0;
        @include navDropShadow;
        .close {
            margin-top: 15px;
            height: 25px;
            width: 25px;
            position: relative;
            div { height: 100%; width: 100%;}
            svg { height: 100%; width: 100%;}
        }

        @include respond-to(small) {
            right: 20px;
        }

        @include respond-to(mediumlarge) {
            width: 350px;
        }
    }

}