.HomeResearchContent {
    * { position: relative;}
    .directions {
        position: relative;
        width: 100%;
        margin-top: 3rem;

        display: grid;
        column-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        
        @include respond-to(small) {
            grid-template-columns: 1fr;
        }

        .homeResearchDirection {
            margin: 30px 0;
            @include respond-to(small) {
                margin: 20px 0;
                padding-left: 2rem;
            }
        }
    }

    .sideImage {
        position: absolute;
        right: 0;
        transform: translate(50%);
        @include respond-to(mediumsmall) {
            display: none;
        }
    }
}