.HomeResearchContent {
    * { position: relative;}
    .directions {
        position: relative;
        width: 100%;
        margin-top: 3rem;
        display: grid;
        column-gap: 50px;
        grid-template-columns: 1fr 1fr;
        
        @include respond-to(small) {
            grid-template-columns: 1fr;
            margin-top: 1.5rem;
        }

        .homeResearchDirection {
            margin: 30px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @include respond-to(small) {
                margin: 20px 0;
            }
            * {
                margin-top: 0;
            }

            .imageContainer {
                width: 170px;
                margin-right: 50px;
                flex-shrink: 0;
                @include respond-to(small) {
                    width: 15vw;
                    margin-right: 10px;
                }
            }
        }
    }

    img {
        mix-blend-mode: multiply;
    }

    .text {
        margin-bottom: 50px;
    }

    .sideImage {
        position: absolute;
        right: 0;
        transform: translate(60%);
        @include respond-to(mediumsmall) {
            display: none;
        }
    }
}