.Person {
    display: flex;
    flex-direction: column;

    .text {
        margin-top: 20px;
        h4 {margin: 0 0 0.5rem}
        .job {margin: 0 0 0.75rem;}
    }

    .portrait {
        flex-shrink: 0;
        height: 275px;
        width: 275px;
        overflow: hidden;
        background: rgba(10, 10, 10, 0.1);
        img {
            height: 100%;
            width: 100%;
        }
    }

    @include respond-to(mediumsmall) {
        .portrait {
            width: 75%;
            height: unset;
        }
        .text {
            * {
                max-width: 30em;
            }
        }
    }
    

    h6 a { @include simpleLink }
}

