.Person {
    display: flex;

    .text {
        margin-left: 25px;
        h4 {margin: 0 0 0.5rem}
        .job {margin: 0 0 0.75rem;}
    }

    .portrait {
        flex-shrink: 0;
        height: 170px;
        width: 170px;
        overflow: hidden;
        background: rgba(10, 10, 10, 0.1);
        img {
            height: 100%;
            width: 100%;
        }
    }

    @include respond-to(mediumsmall) {
        .portrait {
            width: 90px;
            height: 90px;
        }
        .text {
            margin-left: 10px;
            * {
                max-width: 30em;
            }
        }
    }
}