.Container {
    display: flex;
    flex-direction: column;
    gap: 75px;
    align-items: center;
    justify-content: center;
    padding: 175px 2rem;
    .innerContainer {
        width: 100%;
        max-width: 1275px;
        display: flex;
        flex-direction: column;
        gap: 75px;
    }
}