.Container {
    display: flex;
    flex-direction: column;
    gap: 75px;
    align-items: center;
    justify-content: center;
    padding: 175px 2rem;
    @include respond-to(small) {
        padding: 75px 1rem;
    }

    .innerContainer {
        width: 100%;
        max-width: 1275px;
        display: flex;
        flex-direction: column;
        gap: 75px;
    }
}