.HomeBookSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
    @include respond-to(mediumsmall) {
        grid-template-columns: 1fr;
    }

    .bookHalf, .twitterHalf {
        display: grid;
        row-gap: 2rem;
        grid-template-rows: min-content;

        h3 {
            margin: 0;
        }
    
        .content {
            display: flex;
            span {
                overflow: visible !important;
            }

            .book {
                box-sizing: border-box;
                width: 175px;
                object-fit: contain;
                object-position: top;

                @include respond-to(small) {
                    width: 90px;
                }
            }

            .text {
                margin-left: 2rem;
                @include respond-to(small) {
                    margin-left: 1rem;
                }
                p { margin-top: 0;}
            }
        }
        .buttons {
            display: flex;
            gap: 2rem;
            justify-content: center;
        }
    }
    
}