.ArrowButton {
    display: block;
    box-sizing: border-box;
    * {
        color: $color-highlight;
        margin: 0;
    }

    &.large {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}