.ArrowButton {
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, box-shadow 0.5s ease, color 0.25s ease;
    border-radius: 5px;
    * {
        color: $color-highlight;
        margin: 0;
    }

    svg {
        margin-left: 1em;
        height: 0.4em;
    }
    &.large {
        margin-top: 30px;
        padding: 20px 25px;
        @include respond-to(small) {
            *{ font-size: 24px;}
            margin-top: 0px;
        }
        
        svg {
            transform: translateY(0.2em);
            height: 0.8em;

            @include respond-to(small) {
                transform: translateY(0.1em);
                height: 0.4em;
            }
        }
    }

    &:hover {
        background-color: $color-highlight;
        @include navDropShadow;
        * {
            color: $color-primary-bg;
            fill: $color-primary-bg;
        }
    }
}


.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    &.leftAlign {
        justify-content: flex-start;
    }
}