.ArrowButton {
    * {
        color: $color-highlight;
        margin: 0;
    }

    &.large {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}