.HomeCustomSection {
    &> * {
        margin: 25px 0;
    }
    .headerImage {
        margin: 0 auto;
    }

    .logoImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 0 3rem;
    }

}