.HomeCustomSection {
    margin: -25px;
    &> * {
        margin: 25px;
    }

    .logoImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 0 3rem;
    }

}