.footer {
    height: 75px;
    width: 100%;
    background: $color-secondary-bg;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;

    @include navTransition;
    @include navDropShadow;
    
    @include respond-to(mediumlarge) {
        &.hide {
            transform: translateY(110%);
        }
        &.noHide {
            transform: none;
        }
    }

    .innerFooter {
        display: flex;
        flex-direction: row;

        .navItem {
            margin: 0;
            padding: 20px 20px;
            @include linkNoUnderline
        }
    }


    @include respond-to(small) {
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100%;
        transform: translateX(0);
        padding-top: 6rem;

        &.mobileHide {
            transform: translateX(110%);
        }

        
        .innerFooter {
            width: 100%;
            flex-direction: column;
            align-items: center;
            .navItem {
                padding: 1rem;
            }
        }
    }
}

