.footer {
    height: 75px;
    width: 100%;
    background: $color-primary-bg;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    @include navTransition;
    &.hide {
        transform: translateY(100%);
    }

    .innerFooter {
        display: flex;
        flex-direction: row;

        .navItem {
            margin: 0;
            padding: 20px 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}