.LloydRelaxation {
    height: 160vh;
    width: 100%;
    background: $color-maroon;
    &.finished {
        height: 100vh;
    }

    canvas {
        position: sticky;    
        top: 0;
    }

    .overlay {
        &.absolute {
            position: absolute;
            z-index: 1;
        }

        height: 60vh;
        position: fixed;
        top: 25vh;
        left: 0;
        right: 0;
        z-index: 8;
        * {
            color: $color-primary-bg !important;
        }
        &> * {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
        }

        .chevron {
            background-image: url('/assets/chevron.svg');
            height: 40px;
            width: 40px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
            left: 50%;

            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-name: bounce-1;
            animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
            @keyframes bounce-1 {
                0%   { transform: translate(-50%, 0); }
                50%  { transform: translate(-50%, -30px); }
                100% { transform: translate(-50%, 0); }
            }
        }
    }
}