.ArtImage {
    margin-bottom: 50px;
    * { overflow: visible !important;}
    transition: 0.25s ease transform;
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-shadow: 0 0 15px rgb(70, 0, 41);
        opacity: 0;
        transition: opacity 0.25s ease;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.025, 1.025);
        &::after { opacity: 0.5; }
    }
}