.ArtImage {
    margin-bottom: 50px;
    * { overflow: visible !important;}
    img {
        transition: box-shadow 0.25s ease;
    }
    &:hover {
        cursor: pointer;
       img { box-shadow: 0 0 15px rgba(70, 0, 41, 0.5); }
    }
}