.PageSection {
    @include respond-to(mediumlarge) {
        display: grid;
        justify-content: start;
        position: relative;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 50px;
        .media {
            grid-column: 1 / 6;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }
        .text {
            position: relative;
            grid-column: 6 / 13;
        }
    }

    @include respond-to(small) {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .media {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 1rem;
            padding-right: 15%;
        }
    }
}