.AlternatingContainer {
    @include twelve-column;
    row-gap: 175px;

    @include respond-to(mediumsmall) {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 150px;
    }
    @include respond-to(large) {
        > *:nth-child(odd) {
            grid-column: 1 / 11;
        }
        > *:nth-child(even) {
            grid-column: 3 / 13;
        }
    }
}