.AlternatingContainer {
    @include twelve-column;
    row-gap: 175px;

    @include respond-to(mediumsmall) {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    
    > *:nth-child(odd) {
        grid-column: 1 / 11;
    }
    > *:nth-child(even) {
        grid-column: 3 / 13;
    }
}