.AlternatingContainer {
    @include twelve-column;
    row-gap: 125px;

    @include respond-to(mediumsmall) {
        display: flex;
        flex-direction: column;
        gap: 150px;
    }
    
    > *:nth-child(odd) {
        grid-column: 1 / 11;
    }
    > *:nth-child(even) {
        grid-column: 3 / 13;
    }

    &.narrow {
        > *:nth-child(odd) {
            grid-column: 6 / 13;
        }
        > *:nth-child(even) {
            grid-column: 1 / 8;
        }
    }
}