.HomeNewsSection {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;

    .FirstNewsItem {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 25px;
        img {
            max-height: 610px;
        }
        .post {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            & > *:first-child {
                min-width: 300px;
                margin-right: 50px;
                flex-shrink: 0;
            }
        }

        @include respond-to(small) {
            .post{
                flex-direction: column;
            }
        }
    }

    .smallItems {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 4rem;
        @include respond-to(small) {
            grid-template-columns: 1fr;
            .smallItem {
                padding-left: 2rem;
            }
        }
    }
}