.HomeNewsSection {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 75px;

    .newsItem {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 50px;

        .image {
            grid-column: 1 / 3;
        }
        .post {
            grid-column: 3 / 11;
            &> *:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}