.fundersContainer {
    .fundersInnerContainer {
        margin: 3rem 0 6rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        align-items: center;
        .funder {
            mix-blend-mode: multiply;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            &> div {
                background: $color-maroon;

            }
            img {
                max-height: 150px !important;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                mix-blend-mode: screen;
                position: relative;
            }
        }
    }

    @include respond-to(small) {
        .fundersInnerContainer {
            grid-template-columns: 1fr 1fr;
        }
    }
}