html,
body {
  background-color: $color-primary-bg;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}

h1, h2, h3, h4, h5, h6, p, li {
  color: #460029;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, p:first-child {
  margin-top: 0;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, p:last-child {
  margin-bottom: 0;
}
h1 {
  margin: 0.5em 0;
}
h2, h3, h4, h5{
  margin: 0.75em 0;
}
h6 {
  margin: 0;
}

// ———————————————— BODY ——————————————— 
// ————————————————————————————————————————

p.body1 {
  font-size: 30px;
  line-height: 40px;
}
p.body2 {
  font-size: 24px;
  line-height: 34px;
}
p, p.body3, li {
  font-family: halyard-text, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
}
p.body4 {
  font-size: 16px;
  line-height: 24px;
}
p.body5 {
  font-size: 13px;
  line-height: 18px;
}
@include respond-to(medium) {
  p.body1 {
    font-size: 27px;
    line-height: 36px;
  }
  p.body2 {
    font-size: 22px;
    line-height: 30px;
  }
  p, p.body3, li {
    font-size: 18px;
    line-height: 26px;
  }
  p.body4 {
    font-size: 16px;
    line-height: 24px;
  }
  p.body5 {
    font-size: 13px;
    line-height: 18px;
  }
}
@include respond-to(small) {
  p.body1 {
    font-size: 24px;
    line-height: 28px;
  }
  p.body2 {
    font-size: 20px;
    line-height: 25px;
  }
  p, p.body3, li {
    font-size: 17px;
    line-height: 24px;
  }
  p.body4 {
    font-size: 14px;
    line-height: 18px;
  }
  p.body5 {
    font-size: 12px;
    line-height: 16px;
  }
}

ol, ul {
  padding: 0 1.2rem;
}

li {
  margin: 0.4rem 0 0;
}
// ———————————————— HEADERS ——————————————— 
// ————————————————————————————————————————

h1 {
  font-family: 'new-spirit', "Windsor", "Cheltenham", serif;
  font-weight: 300;
  font-size: 80px;
  line-height: 86px;
}
h2 {
  font-family: 'new-spirit', "Windsor", "Cheltenham", serif;
  font-weight: 300;
  font-size: 58px;
  line-height: 62px;
  margin: 15px 0;
}
h3 {
  font-family: 'new-spirit', "Windsor", "Cheltenham", serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 43px;
}
h4 {
  font-family: 'new-spirit', "Windsor", "Cheltenham", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}
h5 {
  font-family: 'new-spirit', "Windsor", "Cheltenham", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
h6 {
  font-family: 'new-spirit', "Windsor", "Cheltenham", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@include respond-to(medium) {
  h1 {
    font-size: 58px;
    line-height: 62px;
  }
  h2 {
    font-size: 38px;
    line-height: 43px;
  }
  h3 {
    font-size: 28px;
    line-height: 34px;
  }
  h4 {
    font-size: 24px;
    line-height: 30px;
  }
  h5 {
    font-size: 22px;
    line-height: 26px;
  }
  h6 {
    font-size: 18px;
    line-height: 22px;
  }
}
@include respond-to(small) {
  h1 {
    font-size: 38px;
    line-height: 42px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
  }
  h4 {
    font-size: 20px;
    line-height: 26px;
  }
  h5 {
    font-size: 18px;
    line-height: 24px;
  }
  h6 {
    font-size: 16px;
    line-height: 20px;
  }
}

p {
  a {
    @include simpleLink
  }
}

// MAPS

.map-container {
  height: 400px;
  
}
.mapboxgl-map {
  @include respond-to(small) {
    > *:not(.mapboxgl-control-container) {pointer-events: none;}
  }
}

.mapboxgl-control-container > div:not(.mapboxgl-ctrl-top-right) {
  display: none;
}
.mapboxgl-control-container button {
  margin-right: 0 !important;
}
.marker {
  width: 30px;
  height: 30px;
  background-image: url('/assets/mapMarker.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

@keyframes fadeIn {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }
}


// —————————————————————————
// Publication Grid

.pub-grid-sizer {
  width: calc(33.333% - 33px);
}
.pub-grid-item {
  width: calc(33.333% - 33px);
}
.pub-grid-item-featured {
  width: calc(66.666% - 33px);
}

@include respond-to( medium ) {
  .pub-grid-sizer {
    width: calc(50% - 33px);
  }
  .pub-grid-item {
    width: calc(50% - 33px);
  }
  .pub-grid-item-featured {
    width: 100%;
  } 
}

@include respond-to( small ) {
  .pub-grid-item, .pub-grid-sizer, .pub-grid-item-featured {
    width: 100%;
  }
}


// —————————————————————————
// Art Grid

.art-grid-sizer {
  width: calc(33.333% - 33px);
}
.art-grid-item {
  width: calc(33.333% - 33px);
}

@include respond-to( small ) {
  .art-grid-sizer {
    width: calc(50% - 33px);
  }
  .art-grid-item {
    width: calc(50% - 33px);
  }
}

// —————————————————————————
// Related Publications Grid

.relPub-grid-sizer {
  width: calc(50% - 18px);
}
.relPub-grid-item {
  width: calc(50% - 18px);
}

@include respond-to( small ) {
  .relPub-grid-sizer {
    width: 100%;
  }
  .relPub-grid-item {
    width: 100%;
  }
}

// —————————————————————————
// Alumni Grid

.alumni-grid-sizer {
  width: calc(33% - 18px);
}
.alumni-grid-item {
  width: calc(33% - 18px);
}

@include respond-to( small ) {
  .alumni-grid-sizer {
    width: calc(50% - 18px);
  }
  .alumni-grid-item {
    width: calc(50% - 18px);
  }
}