.filterTab {
    position: fixed;
    right: 0;
    top: 250px;
    width: 75px;
    height: 75px;
    background: $color-secondary-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    @include navDropShadow;
    &:hover {
        svg * { fill: $color-highlight;}
    }
    &:active {
        background-color: $color-highlight;
        svg * { fill: $color-primary-bg;}
    }
}