.PersonCategory {
    .peopleContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    @include respond-to(small) {
        .peopleContainer {
            grid-template-columns: 1fr;
        }
    }
}